/* DarkGrey : #2b2b2b */
/* Blood : #d30202 */

* {
	margin: 0;
	padding: 0;
}
body {

}
header, footer {
	/*width: 1280px;*/
	margin: 0 auto;
}
section {
	height: 300px;
	z-index: 1;
	/*width: 1280px;*/
	margin: 0 auto;
}

h1, h2, h3, h4 {
	font-family: lato, arial, sans-serif;
	display: block;
	border-bottom: 1px solid #d30202;
}

ul {
	margin: 0;
}

li {
	text-decoration: none;
	list-style: none;
}

a {
	text-decoration: none;
	color: #000000;
	cursor: pointer;
}

a:visited {
	text-decoration: none;
	color: #000000;
}

a:hover {
	text-decoration: none;
	color: #000000;
}
p {
	font-size: 1.1em;
	font-family: Helvetica, Arial, sans-serif;
}
.banner {
	width: 500px;
	display: block;
	margin: 0 auto;
}

/* TOP BAR MENU */
.top-bar {
	position: relative;
	height: 75px;
	width: 100%;
	z-index: 10;
	background: #fff;
	opacity: 0.9;
	box-shadow: 0 4px 2px -2px gray;
}
.logo {
	padding-top: 5px;
	text-align: center;
}
.projects {
	position: relative;
}
.menu {
	font-family: lato, arial, sans-serif;
	font-weight: bold;
	font-size: 1.2em;
	color: #2b2b2b;
}
.sous-menu {
	position: absolute;
	display: none;
	top: 75px;
	height: 200px;
}
.sous-menu li {
	position: relative;
	list-style-type: none;
	text-align: left;
	cursor: pointer;
}
.sous-menu li:before {
	content: '';
	position: absolute;
	display: block;
	height: 30px;
	width: 30px;
	top: 20px;
	left: 8px;
	background: red;
}
.sous-menu li span{
	padding-left: 50px;
}
.item-menu {
	float: left;
	height: auto;
	text-align: center;
	line-height: 70px;
	text-decoration: none;
	list-style-type: none;
	cursor: pointer;
}
.item-menu:hover {
	color: #d30202;
}

/************/
/*** HOME ***/
/************/
/* Carousel */


/* Section présentation */
.presentation {
	background-color: #f9f9f9;
}

.presentation .pix {
	margin-top: 20px;
	height: 300px;
	border: 1px solid grey;
	border-radius: 150px;
	background: url("../images/raffaele_lize.png") center no-repeat;
	background-size: cover;
}

.presentation .download-cv {
	margin-top: 20px;
}

.presentation .download-cv a {
	display: block;
	width: 100%;
	height: 50px;
	border: 2px solid #d30202;
	border-radius: 25px;
	color: #2b2b2b;
	line-height: 48px;
	text-align: center;
	font-weight: bold;
	font-famil: Helvetica, Arial, sans-serif;
	transition: 0.2s linear;
}

.presentation .download-cv a:hover {
	font-size: 16px;
}

.presentation .download-cv a:focus {
	font-size: 16px;
	background-color: #2b2b2b;
	color: #fff;
}

/* Section about me */
.about-me .skills {
	margin-bottom: 5px;
}

.about-me .item-logo {
	display: inline-block;
	height: 72px;
	width: 72px;
	margin-right: 5px;
}

/* Experience */
.agency-banner {
	height: 150px;
}
.agency-about {
	height: 150px;
}

/* Footer */
.footer {
	height: 200px;
	background-color: #f9f9f9;
	text-align: center;
	padding-top: 30px;
}

/**************/
/*** FOOTER ***/
/**************/
.footer ul > li {
	color: #d30202;
	cursor: pointer;
}
.footer ul > li:hover {
	color: #2b2b2b;
}
