<header class="header">
	<div class="row">
		<div class="col-md-12">
			<img src="http://lorempixel.com/1280/100/" alt="">
		</div>
	</div>
	<div class="top-bar row">
		<div class="col-xs-12 col-sm-6 col-md-4 logo">
			<img class="logo" src="http://lorempixel.com/200/60/" alt="">
		</div>
		<div class="col-xs-12 col-sm-6 col-md-8 main-menu">
			<div class="row">
				<ul>
					<li class="col-md-3 item-menu">Accueil</li>
					<li class="col-md-3 item-menu projects">Mes projets
						<div class="sous-menu">
							<ul>
								<li><span><a href="experience.html">Groupe Consensus</a></span></li>
								<li><span>Pixel Cookers</span></li>
								<li><span>Projets Personnels</span></li>
							</ul>
						</div>
					</li>
					<li class="col-md-3 item-menu">Mes objectifs</li>
					<li class="col-md-3 item-menu">Contact</li>
				</ul>
			</div>
		</div>		
	</div>
</header>
			<!-- dou je pense que tu es une tres bonne personne pour moi, je veux simplement te dire que je suis contente de vivre ces belles aventures avec toi -->