<section class="contact">
  <div class="container">
    <div class=mail>
      <img src="images/mail.jpg" alt="">
    </div>
    <div class="form-group">
      <label for="lastname">Nom :</label>
      <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Nom">
    </div>
    <div class="form-group">
      <label for="firstname">Prénom :</label>
      <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Prénom">
    </div>
    <div class="form-group">
      <label for="mail">Email :</label>
      <input type="email" class="form-control" id="mail" name="mail" placeholder="Email">
    </div>
    <div class="form-group">
      <label for="comment">Commentaire :</label>
      <textarea class="form-control" rows="3" id="comment" name="comment" placeholder="Commentaire..."></textarea>
    </div>
    <button ng-click="sendMail()" class="btn btn-primary">Envoyer</button>
  </div>
</section>
