<section class="carousel">
	<div class="container">
		<div class="owl-carousel">
			<div>
				<img src="images/carousel/metroquizz.jpg" alt="metroquizz">
				<div class="layout">
					<div class="text">
						<h2>Métro Quizz</h2>
						<p>Quizz culturel et historique sur les stations du métro parisien destiné à la RATP.</p>
					</div>
				</div>
			</div>
			<div>
				<img src="images/carousel/deuxmains.jpg" alt="deuxmains">
				<div class="layout">
					<div class="text">
						<h2>#DEUXMAINS</h2>
						<p>Projet promotionnel des Compagnons du Devoir.</p>
					</div>
				</div>
			</div>
			<div>
				<img src="images/carousel/armines.jpg" alt="armines">
				<div class="layout">
					<div class="text">
						<h2>Armines / Carnot Mines</h2>
						<p>Site officiel des écoles Mines, Armines & Carnotmines</p>
					</div>
				</div>
			</div>
			<div>
				<img src="images/carousel/compagnons-du-devoir.jpg" alt="compagnons-du-devoir">
				<div class="layout">
					<div class="text">
						<h2>Les Compagnons du devoir</h2>
						<p>Site institutionnel des compagnons du devoir</p>
					</div>
				</div>
			</div>
			<div>
				<img src="images/carousel/titoff.jpg" alt="titoff">
				<div class="layout">
					<div class="text">
						<h2>Titoff, 15 ans de scène</h2>
						<p>Site vitrine pour la promotion de la dernière tournée de Titoff</p>
					</div>
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</section>
<section class="presentation grey-bg">
	<div class="container padding-content row">
		<div class="col-md-4 col-sm-6 col-xs-12">
			<div class="pix"></div>
			<div class="download-cv">
				<a href="src/CV_Raffaele_2016.pdf">Télécharger mon CV</a>
			</div>
		</div>
		<div class="col-md-8 col-sm-6 col-xs-12 about-me">
			<h2>Une petite présentation...</h2>
			<p>
				Bonjour à tous, je suis <b>développeur web & mobile</b> et passionné par le monde du développement infomatique depuis 2011. Rigoureux et perfectionniste je mène mes projets qu'ils soient personnel ou professionnel de A à Z. Je suis constament à la
				recherche du <b>«Wahou Effect»</b> afin de livrer à mes clients une application unique, personnifié et sur-mesure.
			</p>
			<p>
				Je pars du principe qu'il y une solution à tout et qu'il faut oser l'originalitée.
			</p>
			<div class="icon">
				<div ng-repeat="iconTab in iconsTab" class="skills">
					<div ng-repeat="icon in iconTab.icons" class="item-logo">
						<img class="ahah" src="{{icon.url}}" alt="{{icon.name}}" />
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="skills">
	<div class="container padding-content row">
		<div class="col-md-6 col-xs-12 skill-spher">
			<h2>Compétences téléchargées</h2>
			<div id="tagsphere">
				<ul>
					<li><a href="#"> Php</a> </li>
					<li><a href="#"> Ajax</a> </li>
					<li><a href="#"> Sass</a> </li>
					<li><a href="#"> Javascript</a> </li>
					<li><a href="#"> Jquery</a> </li>
					<li><a href="#"> Photoshop</a> </li>
					<li><a href="#"> CSS</a> </li>
					<li><a href="#"> HTML5</a> </li>
					<li><a href="#"> Angular JS</a> </li>
					<li><a href="#"> Ionic</a> </li>
					<li><a href="#"> Cordova</a> </li>
					<li><a href="#"> Drupal</a> </li>
					<li><a href="#"> Wordpress</a> </li>
					<li><a href="#"> SQL</a> </li>
					<li><a href="#"> Android</a> </li>
					<li><a href="#"> Objective-C</a> </li>
					<li><a href="#"> GIT</a> </li>
					<li><a href="#"> Ruby</a></li>
					<li><a href="#"> Swift</a></li>
				</ul>
			</div>
		</div>
		<div class="col-md-6 col-xs-12 knowledges">
			<h2>Compétences en téléchargement</h2>
			<div ng-repeat="downloadSkill in downloadSkills" class="download-skill">
				<span>{{downloadSkill.name}}</span>
				<div class="progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:{{downloadSkill.progress}}"></div>
				</div>
			</div>
		</div>
	</div>
</section>
