<section>
	<div class="row">
		<div class="col-md-12 banner-project"></div>
	</div>
	<div class="row">
		<div class="col-md-12 description-project"></div>
	</div>
</section>
<section class="row">
	<h2>Mes travaux :</h2>
</section>
<section class="works">
	<div class="row"> <!-- TODO NG-REPEAT WORKS BY ID PROJECT ID -->
		<div rd-work></div>
	
		<!-- TEMPLATE DIRECTIVE RD-WORK -->
		<!-- <h3 class="work-name">NAME WORK</h3>
		<div class="row">
			<div class="col-md-6 work-description"></div>
			<div class="col-md-6 work-carousel"></div>
		</div> -->

	</div>
</section>